.section_qna p {
    margin: 20px 300px 0 300px;
}

.text_qna {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_qna h1 {
    margin-left: 20px;
    font-size: 3em;
    font-weight: 600;
}

.text_qna p {
    font-size: 1.1rem;
}

.form_qna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subqna {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 1rem;
    padding: 0.5rem;
    transition: 0.2s;
    font-weight: 500px;
    background-color: white;
    color: black;
    border: 2px solid #2c303a;
    border-radius: 6px;
    letter-spacing: 3px;
}

.subqna:hover {
    background-color: #131417;
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;

}

.name {
    float: center;
    width: 200px;
    height: 50px;
    border: 2px solid #2c303a;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 12px;
    margin: 8px;
    transition: 0.5s;
}

.question {
    float: center;
    width: 200px;
    height: 50px;
    border: 2px solid #2c303a;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    margin: 8px;
    transition: 0.5s;
}

.question:focus {
    width: 280px;
    height: 130px;
    transition: 0.5s;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
    border-radius: 5px;
    z-index: 10;
    background-color: #181a1e;
    width: 400px;
    height: 150px;
    color: white;
    border: 2px solid #131417;
}

.popup p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #131417;
}

.popup-header.title {
    font-size: 20px;
    font-weight: bold;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.popup-body1 {
    display: none;
}

.popup-body1.active {
    padding: 10px 15px;
    display: block;
}

.background-blur.active {
    opacity: 0.2;
}